---
const { invited } = Astro.props;
---
<section class="additional-info abhaya">
  <div class="info-item">
    <img src="ticket.svg" alt="ticket icon" width="32" height="32" />
    <span>{invited ?? 1} persona{invited > 1 ? 's' : ''}</span>
  </div>
  <div class="info-item">
    <img src="dresscode.svg" alt="dress code icon" width="32" height="32" />
    <span>Etiqueta casual</span>
  </div>
  <span class="recommendation">Se recomienda llevar zapatos cómodos ya que la pista de baile estará disponible en todo momento.</span>

  <div class="gift">
    <img src="gift.svg" alt="gift icon" width="32" height="32" />
    <p>Para mí tu presencia es lo más importante. Si de corazón deseas hacerme un obsequio, puedes elegir el que más te inspire. Si prefieres la sencillez también dispondremos de un <strong>buzón de sobres</strong> en la entrada.</p>
  </div>
</section>

<style>

  :root {
    --text: #a60085;
  }
  
  .additional-info {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    background-color: #e9afa3;
    color: var(--text);

    .info-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      font-size: 24px;
      margin: 10px 0;
    }

    .recommendation {
      font-style: italic;
    }

    .gift {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
  }
</style>