---
const location = 'https://maps.app.goo.gl/pb1XGH1WDBJsHFqf9';
---

<section class="main-info">
  <span>Fanny Valentina Chan Franco</span>
  <span>Sábado</span>
  <span>20</span>
  <span>Diciembre</span>
  <span>2025</span>
  <span>21:00 Hrs</span>
  <span>Calle 20 110, San José Tzal, 97315 San José Tzal, Yuc.</span>
  <p>
    <a href={location} target="_blank">Ubicación</a>
  </p>
</section>

<style>
  /* 'mauvelous': {
    '50': '#fdf3f4',
    '100': '#fce7eb',
    '200': '#f8d3da',
    '300': '#f2afbc',
    '400': '#ed90a5',
    '500': '#df5477',
    '600': '#ca3461',
    '700': '#aa2651',
    '800': '#8e2349',
    '900': '#7a2143',
    '950': '#440d21',
}, */
  .main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: 'mauvelous', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #7a2143;
    /* color: #8e2349; */
    text-align: center;
    padding: 2rem 1rem;
    background-color: #fdf3f4;
  }
/* 
  .main-info span {
    line-height: 1.2;
  }

  .main-info p {
    margin-top: 1rem;
  }

  .main-info a {
    text-decoration: none;
    color: #df5477;
    font-weight: 600;
    border-bottom: 2px solid #df5477;
    padding-bottom: 2px;
  }

  .main-info a:hover {
    color: #aa2651;
    border-bottom-color: #aa2651;
  } */
</style>