---
import '@fontsource/abhaya-libre';
import "aos/dist/aos.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/party.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
		<title>Fanny Valentina XV a침os</title>
		<link rel="canonical" href="https://fanny-valentina-xv.vercel.app/" />
		<meta property="og:image" content='https://fanny-valentina-xv.vercel.app/maininfo.avif' />
		<meta property="og:title" content='XV a침os de Fanny Valentina'/>
		<meta property="og:description" content='Invitaci칩n digital para los XV a침os de Fanny Valentina'/>
		<meta property="og:url" content="https://fanny-valentina-xv.vercel.app/" />
		<meta property="og:site_name" content="Fanny Valentina XV" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es_ES" />
	</head>
	<body>
		<slot />
		<script>
			import { aosInit } from '../js/aos.js';
		
			// runs on initial page load
			aosInit();
			document.addEventListener("astro:after-swap", aosInit);
		</script>
	</body>
</html>

<style is:global>
	html,
	body {
		max-width: 600px;
		margin: 0 auto;
	}

	.tangerine {
		font-family: "Tangerine", cursive;
	}

	.abhaya {
		font-family: 'Abhaya Libre', serif;
	}

	.bold {
		font-weight: bold;
	}
</style>
